
@{
    ViewData["Title"] = "FileExist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>This file already exists.</h4>
<h4>Please select another file.</h4>

<script>
    document.write('<a href="' + document.referrer + '">Go back to Upload Page!</a>');
</script>

